*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.conteudo{
    background-color: rgb(178, 246, 224);
    max-width: 300px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
}

input{
    width: 100%;
    margin-top: 10px;
    padding: 3px;
}
.botao{
    padding: 5px;
    margin-top: 10px;
    width: 70px;
    font-weight: bold;
}

#res{
    line-height: 2;
}

